@tailwind base;
@tailwind components;
@tailwind utilities;

.authentication-input {
    @apply w-56 h-8 bg-blue-400
}
 .bubble-right {
     @apply ml-auto place-self-end;
     position: relative;
     background: #000000;
     color: #FFFFFF;
     font-size: 13px;
     text-align: center;
     width: 100px;
     min-height: 50px;
     height: auto;
     border-radius: 10px;
     padding: 0;
     margin-right: 20px;
     overflow-wrap: break-word;
 }
.bubble-right:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #000000;
    border-width: 11px 0 11px 16px;
    top: 50%;
    right: -16px;
    margin-top: -11px;
}

.bubble-left {
    @apply place-self-start;
    position: relative;
    background: #000000;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 55px;
    text-align: center;
    width: 100px;
    height: 58px;
    border-radius: 10px;
    margin-left: 20px;
}
.bubble-left:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #000000;
    border-width: 11px 16px 11px 0;
    top: 50%;
    left: -16px;
    margin-top: -11px;
}

html {
    @apply bg-gradient-to-t from-cyan-500 to-blue-500 min-h-screen
}
